@import url('https://fonts.googleapis.com/css?family=Slabo+27px');
@import url('https://fonts.googleapis.com/css?family=Fjalla+One');
@import url('https://fonts.googleapis.com/css?family=Saira+Semi+Condensed');
@import url('https://fonts.googleapis.com/css?family=Exo+2');
@import url('https://fonts.googleapis.com/css?family=Fira+Sans');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');
@import url('https://fonts.googleapis.com/css?family=Barlow');

body{
	margin:0;
	padding: 0;
	width: 100%;

}

.container{
	width: 100%;
	padding: 0;
	margin: 0;
}

.main{
	display: flex;
}

a{
	cursor: pointer;
}


.total_row{
	font-weight: bold;
}

#start_page{
	width: 100%;
	height: 100%;
	margin: 0;
	padding:0;
	background-color: black;
	opacity: 0.9;
	position: absolute;
	top: 0;
	background-image: url(../images/start_page_back.png);
}

#start_test_page{
	text-align: center;
	font-family: 'Exo 2', sans-serif;
}

.rules{
	width: 50%;
	margin: auto;
	text-align: justify;
	background-color: #edf3ff;
	border-radius: 5px;
	
	padding-bottom: 10px;
	margin-bottom: 10px;
	margin-top: 30px;

}


.rules h2{
	width: 20%;
	margin: auto;
	border-bottom: solid 2px red;
	padding: 0 20px;
	padding-bottom: 2px;
}


.rules p{

		padding: 10px;
		text-align: justify;
		margin-bottom: 0;
		
}

.rules ul{
	text-align: left;
	margin-top: 10px;

}

.rules ul li{
	margin-bottom: 10px;
}


.start_btn{

	background-color: #4CAF50;
	padding: 5px 10px;
	text-decoration: none;
	color: white;
	border-radius: 5px;
	margin-top: 10px;
}

.login_panel{
	width: 25%;
	margin:auto;
	margin-top:100px;
	vertical-align: middle;
	background-color:#cadbf7;
	padding: 20px;
	padding-top: 5px;
	font-family: 'Saira Semi Condensed', sans-serif;
}

.error_box{
	width:25%;
	margin:auto;
	margin-top:10px;
	padding: 10px 20px;
	padding-left: 20px;
	background-color:#cadbf7;

	
}

.error_box span , .error_box img{
	vertical-align: middle;
}



#error_message{
	color:black;
	font-family: 'Barlow', sans-serif;
	font-weight: bold;

}


.login_panel input{
	display: block;
	margin:auto;
	padding: 10px 5px;
	width: 100%;
	box-sizing: border-box;
	margin: 10px 0;
	border-radius: 5px;
	border:none;
	border:2px solid white;
	outline:0;
	font-weight: bold;
	font-family: 'Source Sans Pro', sans-serif;
}




.login_panel .login_btn{
	padding: 10px;
	background-color: transparent;
	border:2px solid #1b4c72;
	border-radius: 5px;
	color:#1b4c72;
	text-decoration: none;
	box-sizing: border-box;
	font-weight: bold;
	margin-top:10px;
	display: block;
	font-family: 'Saira Semi Condensed', sans-serif;
	text-align: center;
	width: 100%;
	margin-bottom: 5px;
}

.login_btn:hover{
	box-shadow: inset 0 0 10px #000000;
}

.field_name{
	margin : 5px 0;
}

.register_btn{
	color:green;
	font-weight: bold;
}

.login_panel span{
	
}

.login_panel input:focus{
	border:2px solid #79abfc;
}

.test_panel{
	width: 75%;
}

.right_panel{
	width: 25%;
	flex: 1;
	border-left: 2px solid #ccc;
}

.show_hide a {
	float: right;
	margin-right: 2px;
	margin-top: 2px;
}

.show_hide{
	height: 15px;
	background-color: #edf3ff;
}

.timer_div{
	background-color: #edf3ff;
	border-bottom: 2px solid white; 
}

.timer_div img {
	vertical-align: middle;
	padding: 10px;
}

.right_panel ul{
	font-family: 'Fira Sans', sans-serif;
	list-style: none;
	margin: 0;
	padding: 0;
}

.right_panel ul li{
	padding: 10px;
	background-color: #ccdfff;
	border-bottom:1px solid white; 
}

.right_panel ul .active{
	background-color:#4CAF50;
	padding-left: 30px;
}

.active:before{
	content: url(../images/rightarrow.png);
}

.test_area{
	margin: auto;
	width: 80%;
}

.title{
	margin-top:10px;
}

#iframe{
	width: 100%;
	height: 550px;
	padding: 0;
	margin: 0;
	line-height: 0;
	display: block;
	border:none;
	border:0;
	margin-top: 25px;
}

.pass{
	background-color: rgba(255,0,0,.5);
	padding: 5px 10px;
	text-decoration: none;
	color: white;
	border-radius: 5px;
	margin-top: 5px;
	display: inline-block;
	float:right;
}



#result_page{
	text-align: center;
	font-family: 'Saira Semi Condensed', sans-serif;
}

#result_page h2 {
	font-family: 'Fjalla One', sans-serif;
	color: #3f3f3f;
	font-weight: bold;
	border-bottom: 2px solid #ccc;
	margin: 5px auto;
	width: 20%;
}

table{
	width: 100%;
	margin: auto;
	border-collapse: collapse;
}
tr{
	

}

tr:first-child{
	background-color: #87a8ff;
	color: #3f3f3f;
}

tr:nth-child(2n){
	background-color: #efefef;
}

td{
	padding: 10px 0;
}

.right_anwser{
	background-image: url(../images/yes.png);
	background-repeat: no-repeat;
	background-position: center;
}

.wrong_anwser{
	background-image: url(../images/no.png);
	background-repeat: no-repeat;
	background-position: center;
}